.contactHead{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: url("../../assets/contact1.png");
    background-repeat: no-repeat;
    background-position: 5%;
    background-size: contain;
    h3{
        text-transform: uppercase;
    }

    h1{
        font-size: 60px;
    }
    p{
        opacity: .4;
    }
}